GEMINI_API_KEY=
DATABASE_URL=
VITE_API_BASE=
VITE_APP_PUBLISHABLE_KEY=sb_publishable_2BVEMolAIj7oXIzZ056_Uw_u11hOEcA
APP_SECRET_KEY=
SUPABASE_URL=https://lvdxuaoafxesoqlmywap.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_2BVEMolAIj7oXIzZ056_Uw_u11hOEcA
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://lvdxuaoafxesoqlmywap.supabase.co/auth/v1/.well-known/jwks.json
